$background-color: #fff;
$background-card-color: #f0f0f0;
$background-card-hover-color: #e1e1e1;
$main-color: #ce87ff;
$text-color: #1e1e1e;
$second-text-color: #818181;

$rem0_875: clamp(0.6rem, 2vh, 0.875rem);
$rem1: clamp(0.8rem, 2vh, 1rem);
$rem1_5: clamp(1rem, 2vh, 1.5rem);
$rem2: clamp(1.5rem, 2vh, 2rem);