@import './variables';

.header {
    padding: 16px;
    width: 1440px;
    border-bottom: 2px $main-color solid;

    .searchBox {
        padding: 8px;
        border-radius: 12px;
        background-color: $background-card-hover-color;
        width: 100%;

        input {
            width: 100%;
            background-color: transparent;
            font-size: $rem1;
            outline: none;
            border: none;
        }

        button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .authBox {
        .signInButton {
            background-color: $main-color;
            border: none;
            outline: none;
            padding: 8px 16px;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            color: $text-color;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: $main-color-hover;
            }
        }
    }

    .userBox {
        position: relative;

        button {
            cursor: pointer;
            color: $main-color;
            background-color: transparent;
            border: none;
            outline: none;

            svg {
                width: 36px;
                height: 36px;
                transition: all 0.4s;
            }

        &:hover {
            color: $main-color-hover;
        }
        }

        .dropDownMenu {
            align-items: start;
            right: 0px;
            top: calc(100% + 16px);
            background-color: $background-color;
            position: absolute;
            padding: 16px;
            border-radius: 12px 0px 12px 12px;
            color: $text-color;

            .link {
                justify-content: start;
                width: 100%;
                padding: 8px;
                border-radius: 12px;
                font-size: $rem1;
                line-height: 1.5;
                font-weight: 500;
                color: $main-color;
                white-space: nowrap;
                transition: all 0.4s;

                svg {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    background-color: $background-card-hover-color;
                }
            }
        }

        .balance {
            font-size: $rem2;
            font-weight: 600;
            line-height: 1.4;
            color: $main-color;
            border-radius: 12px;
            white-space: nowrap;
        }
    }
}

.logo {
    font-size: clamp(2rem, 2vw, 2.25rem);
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover {
        color: $main-color-hover;
    }
}

