@import './variables';

.header {
    padding: 16px;
    width: 1440px;
    border-bottom: 2px $main-color solid;

    .searchBox {
        padding: 8px;
        border-radius: 12px;
        background-color: $background-card-hover-color;
        width: 100%;

        input {
            width: 100%;
            background-color: transparent;
            font-size: $rem1;
            outline: none;
            border: none;
        }

        button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    .authBox {
        .signInButton {
            background-color: $main-color;
            border: none;
            outline: none;
            padding: 8px 16px;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            color: $text-color;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: $main-color-hover;
            }
        }
    }
}

.logo {
    font-size: $rem2;
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
}

