@import './variables';

@font-face {
  font-family: "SFProText";
  font-weight: 300;
  src: url(../assets/fonts/SFProText-Light.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 400;
  src: url(../assets/fonts/SFProText-Regular.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 500;
  src: url(../assets/fonts/SFProText-Medium.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 600;
  src: url(../assets/fonts/SFProText-Semibold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 700;
  src: url(../assets/fonts/SFProText-Bold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 900;
  src: url(../assets/fonts/SFProText-Heavy.ttf);
}

* {
  font-family: "SFProText", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  gap: 16px;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

#root {
  overflow: hidden;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

@for $i from 1 through 100 {
  .g#{$i} {
    gap: #{$i}px;
  }
}

.page {
  width: 1440px;
  min-height: 100vh;
  height: 100%;
}

svg {
  width: 24px;
  height: 24px;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 20px;
}

a {
  text-decoration: none;
}
